@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root:not(.minimal) .content-list-style-full {
  --card-content-li-background: var(--card-content-li-background-full);
  --content-li-background: var(--content-li-background-full);

  :is([data-view=list], .chapter-list) .chapter-group__list-item {
    padding: .5rem 8px .5rem 6px;
  }

  :is(.chapter-group__name, .story__scheduled-chapter) {
    padding-left: 10px;
  }

  .story__blog-list-item {
    padding: .5rem 8px;
  }

  .card__link-list-item {
    padding-left: 0.35em;
  }
}
