@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("../fonts/merriweather/Merriweather[opsz,wdth,wght].woff2")
    format("woff2");
}

@font-face {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url("../fonts/merriweather/Merriweather-Italic[opsz,wdth,wght].woff2")
    format("woff2");
}
